*.pyc
.*.sw*
__pycache__
prediction/*_*_*_go.txt
download/00README.txt
download/*.pdf
download/CAFA3_target_track.xlsx
download/*.tgz
download/*.gz
download/CAFA3_training_data/
download/Mapping files/
download/Target files/
download/benchmark20171115/
download/ncbi-blast-2.4.0+/
download/supplementary_data/
results/*_all.txt
results/*_all_results.txt
